:root {
  --title-font: 'Montserrat', sans-serif;
  --main-font: 'Open Sans', sans-serif;
  --bg-color: #22162b;
  --text-color: #fdf3b6;
  --accent-color: #3adf3a;
  --shadow-color: #06040870;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 18px;
  font-family: var(--main-font);
  margin: 0px;
  padding: 0px;
}

.accent-color {
  color: var(--accent-color);
}
