:root {
  --title-font: 'Montserrat', sans-serif;
  --main-font: 'Open Sans', sans-serif;
  --bg-color: #170d20;
  --text-color: #e1dfe4;
  --accent-color: #dfbf2e;
  --shadow-color: #07020e90;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 18px;
  font-family: var(--main-font);
  margin: 0px;
  padding: 0px;
}

.accent-color {
  color: var(--accent-color);
}
