:root {
  --title-font: 'Montserrat', sans-serif;
  --main-font: 'Open Sans', sans-serif;
  --bg-color: #201727;
  --text-color: #fff5c6;
  --accent-color: #39e239;
  --shadow-color: #06040841;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 18px;
  font-family: var(--main-font);
  margin: 0px;
  padding: 0px;
}

.accent-color {
  color: var(--accent-color);
}
